.intro {
    background-color: navy;
    color : gold ;
    padding: 6px;
}
#title {
    color : coral;
    text-align: center;
    font-family: Verdana;
    font-size:xx-large ;
}
.float1 {
    text-align: right;
    float :right ;
    height: 100px;
}
.coral {
    color: coral;
}
