
#title {
    color : coral;
    text-align: center;
    font-family: Verdana;
    font-size:xx-large ;
}
.float1 {
    font-size:x-large;
    float:right;
}
#float2 {
    font-size: x-large;
}
body {
    border: 10px black;
    font-family: 'Lucida Sans';
    background-color: navy;
    color : gold ;
}
.headings{
    font-size:xx-large;
    font-weight: bold;
    font-family: 'Lucida Sans';
    text-align: center;
}
#intro{
    font-size: x-large;
}
